@media screen and (max-width: 760px) {
	.content-header {
		background: none;
		background-color: none;
		width: 100%;
		margin: 0;
		min-height: auto;
		padding: 52px 20px;
	}
	.content-header .title {
		font-size: 24px;
		line-height: 30px;
	}

	.content-header .subtitle {
		font-size: 14px;
		line-height: 20px;
	}

	.post-header .title {
		display: block;
		font-size: 24px;
		line-height: 1.5;
	}
	.header_blank {
		width: 100%;
		height: 90px !important;
	}
	.adver,
	.adver img {
		width: 100%;
	}
	.top-1 {
		display: none;
	}
	.post-list-item {
		padding: 0;
		width: 100%;
		margin-bottom: 16px;
	}
	.im {
		display: none;
	}
	.rigth {
		width: 100%;
	}
	.container {
		width: 100%;
		margin: 0px;
	}
	.article-card {
		padding: 16px 11px 0;
		width: 100%;
	}
	.music_player {
		display: none;
	}
	.page__container {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	.footer__container div:nth-child(3),
	.footer__container div:nth-child(4) {
		display: none;
	}
	.footer-top__item,
	.footer-top__item--2 {
		width: 70% !important;
	}
	.footer-top__item .item__content p {
		width: 100% !important;
	}
	.footer__contact-info {
		width: 300px;
	}
	.top-1 {
		padding: 0px;
	}
	.top-1 .logo {
		display: none;
	}
	.flex-row a:nth-child(1) {
		width: 71px;
	}
	.flex-row #menuShare {
		margin-left: 272px;
	}
	.search-wrap {
		display: none;
	}
	.page__footer,
	.page__footer .footer__top,
	.page__footer .footer__top .page__container {
		width: 100%;
	}
}
