.music_player {
	position: absolute;
	margin: 0px 5px;
	width: 260px;
	float: left;
}
.music_player .list {
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	width: 240px;
	height: 400px;
	overflow: auto;
	position: relative;
	top: -20px;
	box-shadow: rgba(151, 151, 151, 0.58) 0px 1px 3px;
}
.scrollbar {
	width: 30px;
	height: 300px;
	margin: 0 auto;
}
.music_player .list::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 5px; /*  高宽分别对应横竖滚动条的尺寸 */
	height: 1px;
}

.music_player .list::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 2.5px;
	-webkit-box-shadow: inset 0 0 5px #420c5c;
	background: #535353;
}
.music_player .list::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	border-radius: 2.5px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #ededed;
}
.music_player .list li {
	width: 100%;
	list-style: none;
	height: 25px;
	border-bottom: 1px solid #420c5c;
	overflow: hidden;
	text-overflow: ellipsis;
}
.list li a {
	color: #333;
	line-height: 25px;
	width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	padding-left: 10px;
	font-family: "Microsoft Yahei";
	font-size: 12px;
	text-decoration: none;
}
.list li div {
	width: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #333;
	line-height: 25px;
	float: right;
	padding-right: 10px;
	font-size: 12px;
	font-family: "Microsoft Yahei";
}
.music_player #info {
	width: 150px;
	height: 30px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: relative;
	top: -15px;
	left: -4px;
}
.music_player #btn {
	height: 30px;
	width: 40px;
	padding: 0px;
	margin: 0px;
	border-left: none;
	background-color: #420c5c;
	color: #fff;
	border: 0px;
	position: relative;
	top: -65px;
	left: 219px;
}
.music_player #img {
	position: relative;
	top: 5px;
}
.music_player .list .present {
	display: block;
	padding: 0px;
	width: 5px;
	height: 25px;
	background-color: #420c5c;
	float: left;
}
.music_player .icon {
	position: relative;
	top: 66px;
	left: 78px;
}
.music_player .icon img {
	width: 20px;
}
.music_player .icon .strip {
	width: 46px;
	height: 4px;
	background-color: #fff;
	display: inline-block;
	position: relative;
	top: -2px;
	border-radius: 2px;
}
.music_player .icon .bar {
	width: 25px;
	height: 4px;
	background-color: #420c5c;
	display: inline-block;
	position: relative;
	top: -2px;
	left: -96px;
	border-radius: 2px;
}
.music_player .icon .circle {
	width: 46px;
	height: 10px;
	display: inline-block;
	position: relative;
	top: 1px;
	left: -50px;
}
.music_player .icon .circle span {
	padding: 0px;
	width: 10px;
	height: 10px;
	background-color: #420c5c;
	display: block;
	position: relative;
	left: 25px;
	border-radius: 5px;
}
.music_player .header {
	position: relative;
	top: 18px;
	left: 32px;
}
.music_player .header span {
	position: relative;
	top: 5px;
	font-size: 23px;
	color: #420c5c;
	font-family: "Microsoft Yahei";
}
.music_player .gt {
	display: none;
	left: 260px;
	top: 100px;
	width: 20px;
	line-height: 50px;
	text-align: center;
	height: 50px;
	font-size: 25px;
	background-color: #420c5c;
	color: #fff;
}
